<h1 id="title" class="title">Cambiar Contraseña</h1>
<p class="sub-title">Por favor ingrese una nueva contraseña</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">Ocurrio un error al intentar actualizar la contraseña.</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">La contraseña se actualizo correctamente!.</li>
  </ul>
</nb-alert>

<form (ngSubmit)="resetPass()" #resetPassForm="ngForm" aria-labelledby="title">

  <div class="form-group">
    <label class="label" for="input-re-currentPassword">Código:</label>
    <!-- <nb-form-field> -->
      <input nbInput [(ngModel)]="resetPassword.currentPassword" #currentPassword="ngModel"
        id="input-re-currentPassword" name="currentPassword" type="password" class="last" fullWidth
        fieldSize="large"
        [status]="currentPassword.touched ? (currentPassword.invalid ? 'danger' : 'success') : 'basic'"
        [required]="true" [attr.aria-invalid]="currentPassword.invalid && currentPassword.touched ? true : null">
      <!-- <button nbSuffix nbButton ghost (click)="toggleShowPassword(0)" type="button">
        <nb-icon [icon]="showPassword[0] ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
          [attr.aria-label]="showPassword[0] ? 'hide password' : 'show password'">
        </nb-icon>
      </button> -->
    <!-- </nb-form-field> -->
    <ng-container *ngIf="currentPassword.touched">
      <p class="caption status-danger" *ngIf="currentPassword.invalid && currentPassword.errors?.required">
        El código es obligatorio.
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Nueva Contraseña:</label>
    <input nbInput [(ngModel)]="resetPassword.newPassword" #newPassword="ngModel" type="password" id="input-newPassword"
      name="newPassword" class="first" autofocus fullWidth fieldSize="large"
      [status]="newPassword.dirty ? (newPassword.invalid  ? 'danger' : 'success') : 'basic'"
      [required]="getConfigValue('forms.validation.newPassword.required')"
      [minlength]="getConfigValue('forms.validation.newPassword.minLength')"
      [maxlength]="getConfigValue('forms.validation.newPassword.maxLength')"
      [attr.aria-invalid]="newPassword.invalid && newPassword.touched ? true : null">
    <ng-container *ngIf="newPassword.invalid && newPassword.touched">
      <p class="caption status-danger" *ngIf="newPassword.errors?.required">
        Ingresa tu nueva contraseña.
      </p>
      <!-- <p class="caption status-danger" *ngIf="newPassword.errors?.minlength || newPassword.errors?.maxlength">
        Password should contains
        from {{getConfigValue('forms.validation.password.minLength')}}
        to {{getConfigValue('forms.validation.password.maxLength')}}
        characters
      </p> -->
    </ng-container>
  </div>

  <div class="form-group">
    <label class="label" for="input-re-password">Confirmar Contraseña:</label>
    <input nbInput [(ngModel)]="resetPassword.newPasswordConfirmation" #rePass="ngModel" id="input-re-password" name="rePass"
      type="password" class="last" fullWidth fieldSize="large" [status]="rePass.touched
               ? (rePass.invalid || newPassword.value !== rePass.value ? 'danger' : 'success')
               : 'basic'" [required]="getConfigValue('forms.validation.password.required')"
      [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
    <ng-container *ngIf="rePass.touched">
      <p class="caption status-danger" *ngIf="rePass.invalid && rePass.errors?.required">
        Confirma tu contraseña.
      </p>
      <p class="caption status-danger" *ngIf="newPassword.value !== rePass.value && !rePass.errors?.required">
        Las contraseñas no coinciden.
      </p>
    </ng-container>
  </div>

  <button nbButton status="primary" fullWidth size="large" [disabled]="submitted || !resetPassForm.valid"
    [class.btn-pulse]="submitted">
    Cambiar contraseña
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../logout">Cancelar</a></p>
</section>