<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nb-card accent="info" size="small">
          <nb-card-header>
            <div class="row">
              <div class="col-sm-6">
                <h5 class="title" *ngIf="!new">Editar Usuario</h5>
                <h5 class="title" *ngIf="new">Nuevo Usuario</h5>
              </div>
              <div class="col-sm-6 text-sm-right">
                <button size="small" nbButton hero outline shape="semi-round" [routerLink]="['/pages/users']">
                  <nb-icon [icon]="'arrow-back-outline'" pack="eva"></nb-icon>
                  <span class="d-none d-md-block text-dark">Regresar</span>
                </button>
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>
            <form class="row" [formGroup]="form">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputName">Nombre</label>
                  <input type="text" id="inputName" class="form-control"
                    [class.is-invalid]="formHelperService.canShowFieldErrors(form.get('name'))" formControlName="name">
                  <ngx-error-field [field]="form.get('name')"></ngx-error-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputSurname">Apellido</label>
                  <input type="text" id="inputSurname" class="form-control"
                    [class.is-invalid]="formHelperService.canShowFieldErrors(form.get('surname'))"
                    formControlName="surname">
                  <ngx-error-field [field]="form.get('surname')"></ngx-error-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="text" id="inputEmail" class="form-control"
                    [class.is-invalid]="formHelperService.canShowFieldErrors(form.get('email'))" formControlName="email">
                  <ngx-error-field [field]="form.get('email')"></ngx-error-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputRole">Roles</label>
                    <select class="form-control" formControlName="role">
                      <option value="Administrador">Administrador</option>
                      <option value="Auxiliar">Auxiliar</option>
                    </select>
                  <ngx-error-field [field]="form.get('role')"></ngx-error-field>
                </div>
              </div>
            </form>
          </nb-card-body>
          <nb-card-footer>
            <div class="row">
              <div class="col-12 text-right">
                <button nbButton hero status="danger" shape="semi-round" [routerLink]="['/pages/users']">
                  Cancelar
                </button>
                <button class="ml-2" nbButton hero status="primary" shape="semi-round" (click)="save()">
                  Aceptar
                </button>
              </div>
            </div>
          </nb-card-footer>
        </nb-card>
      </div>
    </div>
  </div>