<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nb-card accent="info" size="medium">
                <nb-card-header>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="title" *ngIf="project?.multiFamilyProject">{{project?.multiFamilyProject.name}} - <small> {{project?.name}}</small></h5>
                            <h5 class="title" *ngIf="!project?.multiFamilyProject">{{project?.name}}</h5>
                        </div>
                        <div class="col-sm-6 text-sm-right">
                            <button size="small" nbButton hero outline shape="semi-round" (click)="return()">
                                <nb-icon [icon]="'arrow-back-outline'" pack="eva"></nb-icon>
                                <span class="d-none d-md-block text-dark">Regresar</span>
                            </button>
                        </div>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <form class="row" [formGroup]="form">
                        <div class="col-12">
                            <nb-card class="card-border-oval">
                                <nb-card-header>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h5 class="title" *ngIf="!new">Editar Ingreso</h5>
                                            <h5 class="title" *ngIf="new">Nuevo Ingreso</h5>
                                        </div>
                                    </div>
                                </nb-card-header>
                                <nb-card-body size="medium">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="inputName">Período</label>
                                                <input type="text" id="inputName" class="form-control"
                                                    [class.is-invalid]="formHelperService.canShowFieldErrors(form.get('period'))"
                                                    formControlName="period">
                                                <ngx-error-field [field]="form.get('period')"></ngx-error-field>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="inputPayDate">Fecha Pago</label>
                                                <input type="text" id="inputPayDate" class="form-control" ngbDatepicker
                                                    #payDate="ngbDatepicker" placement="bottom" firstDayOfWeek="7"
                                                    outsideDays="hidden" container="body"
                                                    [class.is-invalid]="formHelperService.canShowFieldErrors(form.get('payDate'))"
                                                    formControlName="payDate" (click)="payDate.toggle()">
                                                <ngx-error-field [field]="form.get('payDate')"></ngx-error-field>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="inputName">Tipo de pago</label>
                                                <input type="text" id="inputName" class="form-control"
                                                    [class.is-invalid]="formHelperService.canShowFieldErrors(form.get('typePayment'))"
                                                    formControlName="typePayment">
                                                <ngx-error-field [field]="form.get('typePayment')"></ngx-error-field>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="inputTermDays">Monto</label>
                                                <input type="number" id="inputTermDays" class="form-control" [min]="1"
                                                    [class.is-invalid]="formHelperService.canShowFieldErrors(form.get('amount'))"
                                                    formControlName="amount">
                                                <ngx-error-field [field]="form.get('amount')"></ngx-error-field>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="inputName">Descripción</label>
                                                <input type="text" id="inputName" class="form-control"
                                                    [class.is-invalid]="formHelperService.canShowFieldErrors(form.get('description'))"
                                                    formControlName="description">
                                                <ngx-error-field [field]="form.get('description')"></ngx-error-field>
                                            </div>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                            <div class="row">
                                <div class="col-12 text-right">
                                    <button nbButton hero status="danger" shape="semi-round" (click)="return()">
                                        Cancelar
                                    </button>
                                    <button class="ml-2" nbButton hero status="primary" shape="semi-round" (click)="save()">
                                        Aceptar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>