// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
// material themes
@import './material/material-dark';
@import './material/material-light';

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);

$nb-themes: nb-register-theme((
  color-primary-100: #fef1e7,
  color-primary-200: #fddfcf,
  color-primary-300: #f9c8b6,
  color-primary-400: #f3b1a1,
  color-primary-500: #f19483,
  color-primary-600: #ca625f,
  color-primary-700: #a94146,
  color-primary-800: #882935,
  color-primary-900: #71182b,
  color-success-100: #effcdd,
  color-success-200: #dbfabc,
  color-success-300: #bef197,
  color-success-400: #a0e379,
  color-success-500: #76d14f,
  color-success-600: #56b339,
  color-success-700: #3a9627,
  color-success-800: #227919,
  color-success-900: #11640f,
  color-info-100: #cbfdf1,
  color-info-200: #98fbec,
  color-info-300: #64f3ea,
  color-info-400: #3de4e7,
  color-info-500: #04c3d8,
  color-info-600: #0298b9,
  color-info-700: #02739b,
  color-info-800: #01527d,
  color-info-900: #003c67,
  color-warning-100: #fefad6,
  color-warning-200: #fef3ae,
  color-warning-300: #feea85,
  color-warning-400: #fde267,
  color-warning-500: #fcd435,
  color-warning-600: #d8b126,
  color-warning-700: #b58f1a,
  color-warning-800: #927010,
  color-warning-900: #78590a,
  color-danger-100: #ffeee7,
  color-danger-200: #ffd9cf,
  color-danger-300: #ffc0b8,
  color-danger-400: #ffa8a6,
  color-danger-500: #ff8991,
  color-danger-600: #db6476,
  color-danger-700: #b74561,
  color-danger-800: #932b4e,
  color-danger-900: #7a1a43,
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,
  option-list-border-radius: 0,

  slide-out-background: linear-gradient(270deg, #e0e0e0 0%, #ebebeb 100%),
  slide-out-shadow-color: 0 4px 14px 0 #ebebeb,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #ebebeb,
), material-light, material-light);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,
  option-list-border-radius: 0,

  slide-out-background: linear-gradient(270deg, #1f1f1f 0%, #292929 100%),
  slide-out-shadow-color: 0 4px 14px 0 #292929,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #292929,
), material-dark, material-dark);
