<div class="header-container">
  <div class="logo-container">
    <a
      href="#"
      class="sidebar-toggle"
      matRipple
      (click)="toggleSidebar()"
    >
      <nb-icon [icon]="'menu-2-outline'"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><img width="80" src="../../../../assets/images/MiniLogo.jpg"></a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small"> 
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu" [onlyPicture]="false" [name]="userName$ | async">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
