<div class="section-header">
    <div class="action">
      <div class="row">
        <div class="col-8">
          <h2 class="title">Clientes</h2>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-8">
        <nb-form-field class="row col mb-2">
          <input nbInput fieldSize="large" #inputSearch (keyup.enter)="search(inputSearch.value)"
            placeholder="Buscar por Apellido...">
          <button nbSuffix nbButton ghost (click)="clear(inputSearch)">
            <nb-icon [icon]="'close-outline'" pack="eva" [title]="'Borrar filtro'">
            </nb-icon>
          </button>
        </nb-form-field>
      </div>
  
      <div class="col-4 text-right">
        <button nbButton hero status="primary" shape="semi-round" [routerLink]="['/pages/clients','new']">
          <nb-icon [icon]="'person-add-outline'" pack="eva"></nb-icon>
          <span class="d-none d-md-block">Nuevo Cliente</span>
        </button>
      </div>
    </div>  
  
    <nb-card accent="info" class="mb-2 d-none d-md-block table-header">
      <nb-card-header class="form-inline">
        <div class="row col-12 text-center">
          <span class="col-md-2 pointer" ngxSortable="surname" (sort)="onSort($event)"
            [ngxEnabled]="clientPage?.docs.length !== 0">Apellido
            <i class="fas" [class]="clientsService.sortDirectionIcon('surname')"></i>
          </span>
          <span class="col-md-2">Nombre</span>
          <span class="col-md-2">Dni</span>
          <span class="col-md-3">Email</span>
          <span class="col-md-2">Celular</span>
          <span class="col-md-1">Acciones</span>
        </div>
      </nb-card-header>
    </nb-card>
  
    <nb-card *ngFor="let client of clientPage?.docs; let i = index;" class="mb-1">
      <nb-card-body class="form-inline text-center">
        <div class="row col-12">
          <span class="col-md-2">{{ client.surname }}</span>
          <span class="col-md-2">{{ client.name }}</span>
          <span class="col-md-2">{{ client.dni }}</span>
          <span class="col-md-3">{{ client.email }}</span>
          <span class="col-md-2">{{ client.phone }}</span>
          <div class="col-md-1">
            <nb-icon class="mr-1 pointer" [icon]="'edit-outline'" title="Editar" pack="eva"
              [routerLink]="['/pages/clients', client.id]"></nb-icon>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  
    <nb-card *ngIf="clientPage?.docs.length === 0" class="mb-1">
      <nb-card-body class="form-inline pointer">
        <div class="row col-12">
          <span class="col-12 text-center">No se obtuvieron resultados</span>
        </div>
      </nb-card-body>
    </nb-card>
  
    <nb-card *ngIf="clientPage?.totalPages > 1">
      <nb-card-body class="col-12 pb-0">
        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="clientPage?.totalDocs"
          [page]="clientPage?.limit" [pageSize]="clientsService.pageSize" (pageChange)="pageChange($event)" [maxSize]="5"
          [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>
      </nb-card-body>
    </nb-card>