<div class="section-header">
    <div class="action">
        <div class="row mb-4">
            <div class="col-sm-6 mb-3">
                <h4>Presupuesto {{project.name}}</h4>
            </div>
            <div class="col-sm-6 mb-3 text-sm-right">
                <button size="small" nbButton hero outline shape="semi-round" [routerLink]="['/pages/projects']">
                    <nb-icon [icon]="'arrow-back'" pack="eva"></nb-icon>
                    <span class="d-none d-md-block text-dark">Regresar</span>
                </button>
            </div>

            <div class="col-sm-6">
                <nb-card status="primary">
                    <nb-card-header>
                        <div class="col-sm-6">
                            <span><strong>Cliente</strong></span>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="col-sm-12">
                            <span>Nombre y Apellido: {{project.client.fullName}}</span><br>
                            <span>Razón Social: {{project.client.businessName}}</span><br>
                            <span>Celular: {{project.client.phone}}</span><br>
                            <span>E-mail: {{project.client.email}}</span>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-sm-6">
                <nb-card status="primary">
                    <nb-card-header>
                        <div class="col-sm-6">
                            <span><strong>Proyecto</strong></span>
                        </div>
                    </nb-card-header>
                    <nb-card-body class="card-border-oval">
                        <div class="col-sm-12">
                            <span>{{project.typeProject}} - {{project.type}}</span><br>
                            <span>Ubicación: {{project.province}} - {{project.city}}</span><br>
                            <span>Inicio de Obra: {{project.startDate | date: 'dd/MM/yyyy'}}</span><br>
                            <span>Plazo de Obra: {{project.termDays}} días</span>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>

        </div>
    </div>

    <nb-tabset>
        <nb-tab tabTitle="Profesionales y Otros">
            <ngx-budget-professionals [budget]=budget></ngx-budget-professionals>
        </nb-tab>
        <nb-tab tabTitle="Soporte de Obra">
            <ngx-budget-construction-support [budget]=budget></ngx-budget-construction-support>
        </nb-tab>
        <nb-tab tabTitle="Mano de Obra">
            <ngx-budget-man-power [budget]=budget></ngx-budget-man-power>
        </nb-tab>
        <nb-tab tabTitle="Materiales Gruesos"></nb-tab>
        <nb-tab tabTitle="Materiales de Instalaciones"></nb-tab>
        <nb-tab tabTitle=" Materiales de Terminación"></nb-tab>
    </nb-tabset>

    <div class="col-sm-12">
        <nb-card status="primary">
            <nb-card-header>
                <div class="col-sm-12">
                    <span><strong>Valores detallados</strong></span>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-2">
                        <nb-card status="primary">
                            <nb-card-header>
                                <span><strong>Profesionales y Otros</strong></span>
                            </nb-card-header>
                            <nb-card-body class="text-right">
                                <span>$ {{budget[0].totalCostProfessional}}</span>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div class="col-sm-2">
                        <nb-card status="primary">
                            <nb-card-header>
                                <span><strong>Soporte de Obra</strong></span>
                            </nb-card-header>
                            <nb-card-body class="text-right">
                                <span>$ {{budget[0].totalCostConstructionSupport}}</span>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div class="col-sm-2">
                        <nb-card status="primary">
                            <nb-card-header>
                                <span><strong>Mano de Obra</strong></span>
                            </nb-card-header>
                            <nb-card-body class="text-right">
                                <div *ngFor="let cost of budget[0].arrayCosts; let i = index;">
                                    <small>{{budget[0].arrayManPowers[i]}}: $ {{cost}}</small>
                                </div>
                            </nb-card-body>
                            <nb-card-footer class="text-right">
                                <hr>
                                <span>$ {{budget[0].totalCostManPower}}</span>
                            </nb-card-footer>
                        </nb-card>
                    </div>
                </div>               
            </nb-card-body>
            <nb-card-footer class="text-sm-right">
                <hr>
                <span><strong>Total: $ {{budget[0].totalCost}}</strong></span><br>
            </nb-card-footer>
        </nb-card>
    </div>

</div>