.card-body-new-project {
    border: 1px solid #ec8e82;
    border-width: 2px;
}

.card-border-oval {
    border-radius: 10px;
}

.tabset-limit {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}
